extends ./nav.jade

block content
  - var departments = [{name: "단과대학을 선택하세요.", code: -1}, { name: "법과대학", code: 0 }, { name: "경영대학", code: 1 }, { name: "문과대학", code: 2}, { name: "생명과학대학", code: 3}, { name: "정경대학", code: 4}, { name: "이과대학", code: 5}, { name: "공과대학", code: 6}, {name: "사범대학", code: 7},  { name: "간호대학", code: 8}, { name: "정보통신대학", code: 9}, { name: "정보대학", code: 10 }, { name: "디자인조형학부", code: 11}, { name: "국제학부", code: 12 },  {name: "미디어학부", code: 13},  {name: "자유전공학부", code: 14} , {name: "정보보호학부", code: 15}];

  div.video
    div.mask
    video(preload loop autoplay poster="/images/work.jpg")
      // source(type="video/webm; codecs=vp8,vorbis" src="/videos/work.webm")
      source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/videos/work.mp4")

  div.wrapper
    div.landing-banner
      h3 We Respect You and Your Projects
      h4 
        |Respect.ly는 고려대 학생들이 학교에서 펼치고 싶은 모든 프로젝트들을 힘을 모아 함께 추진할 수 있도록 도와주는 사이트입니다.
        br
        |미래에 고대생들은 지금보다 더 풍요롭고 낭만적인 학교 생활을 성취해나갈 수 있었으면 하는 바람으로 시작하게 되었습니다.

  #join.modal
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span.glyphicon.glyphicon-remove(aria-hidden="true") 
        .modal-inside
         .modal-header
            h1.modal-title Register
            hr.white-separator            
          .modal-body
            label E-mail 
            input#join-email.form-control(type="text", name="join-email") 
            br
            label Password  
            input#join-password.form-control(type="password", name="join-password")  
            br
            label Portal username
            input#join-portal-id.form-control(type="email", name="join-portal-id")
            br
            label Department
            select#join-department.form-control
              each department in departments
                option(value="#{department.code}") #{department.name}
            br
            label Student number 
            input#join-student-number.form-control(type="text", name="join-student-number") 
            br
            label Name  
            input#join-name.form-control(type="text", name="join-name") 
          .modal-footer
            #modal-message-container
            button#joinCall(type="button", data-dismiss="modal") Create account 

  #login.modal
    .modal-dialog
      .modal-content
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span.glyphicon.glyphicon-remove(aria-hidden="true") 
        .modal-inside
          .modal-header
            h1.modal-title Log  in
            hr.grey-separator
          .modal-body
            label E-mail or username
            input#login-email.form-control(type="text", name="login-email") 
            br
            label Password:  
            input#login-password.form-control(type="password", name="login-password")  
            br
          .modal-footer
            button#loginCall(type="button" data-dismiss="modal") Log in
            button#resendMail(type="button" data-dismiss="modal") Resend Confirmation Email

    
  section.brief-container
    //- 언젠가 화살표도 쓸 수 있어
    //- a.left(href="#carousel-example-generic" role="button" data-slide="prev") 
    //-   img#leftarrow(src="/images/arrow_left.svg")
    //-   span.sr-only Previous
    //- a.right(href="#carousel-example-generic" role="button" data-slide="next")
    //-   img#rightarrow(src="/images/arrow_right.svg")
    //-   span.sr-only Next
    .brief-project
      .carousel.slide#carousel-example-generic(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.active.brief-project-inside
            .brief-project-picture
            .brief-project-content
              .brief-project-collaborate
              .brief-project-support
              .brief-project-progressmask
                .brief-project-progressbar
              //- 언젠간 옆으로 넘어가는 칸 더 만들 수 있어
          //- .item
          //-   #lion.brief-project-picture
          //-   .brief-project-content
          //-     .brief-project-collaborate
          //-     .brief-project-support
          //-     .brief-project-progressmask
          //-       .brief-project-progressbar

  section.tabs
    ul
      li
        a(href="#")#campaign Campaign        
      li
        a(href="#")#comment Comments
      li
        a(href="#")#support Supporters
      li
        a(href="#")#participate Participants

  section.project
    .project-wrap
      .project-content
        .project-picture
        p 얼마전 성사된 '비긴어게인 영철버거' 프로젝트를 기억하십니까? 고대생이라면 절대 잊지 못할, 참 뜻깊었던 프로젝트였습니다. 폐업했던 영철버거를 다시 살리기 위해 모금을 했던 2765명의 고려대 학생들이 있었기에 지난 20일 영철버거는 재개업을 할 수 있었습니다. 여러분들에게 영철버거 프로젝트는 어떤 뭉클함이었습니까? 
        | 그것은 펀딩이 아니더라도 


  //- 파랑색 바탕
  section.commentdiv
  //- 자몽색 바탕
  section.supportdiv
    canvas#supporters-chart
  //- 노랑색 바탕
  section.participatediv

      

  section.fourthmain
