extends ./nav.jade

block content

  div.video
    div.mask
    video(preload loop autoplay poster="/images/work.jpg")
      source(type="video/webm; codecs=vp8,vorbis" src="/videos/work.webm")
      source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/videos/work.mp4")

  div.wrapper
    div.landing-banner
      h3 We Respect You and Your Projects
      h4 Respect.ly는 고대생들이 어떤 변화를 일으키고 싶을 때, 프로젝트 지지자들을 손쉽게 모을 수 있는 Crowd Supporting Platform입니다.


  section.secondmain


  section.thirdmain

  section.fourthmain

  #join.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")&times;
          h4.modal-title Modal title
        .modal-body
          label 아이디 
          input.form-control(type="text" name="id" id="id") 
          br
          label 비밀번호  
          input.form-control(type="password" name="pwd" id="pwd")  
          br
          label 포탈 아이디 
          input.form-control(type="email" name="pmail" id="pmail") 
          label 학번 
          input.form-control(type="text" name="snum" id="snum") 
          label 이름  
          input.form-control(type="text" name="sname" id="sname") 


        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 닫기 
          button#joinCall.btn.btn-primary(type="button" data-dismiss="modal") 가입 

  #login.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")&times;
          h4.modal-title Modal title
        .modal-body
          label 아이디 
          input.form-control(type="text" name="id" id="id") 
          br
          label 비밀번호  
          input.form-control(type="password" name="pwd" id="pwd")  
          br

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 닫기 
          button#loginCall.btn.btn-primary(type="button" data-dismiss="modal") 로그인

