extends ./nav.jade

block content

    div.video
        div.mask
        video(preload loop autoplay poster="/images/work.jpg")
            source(type="video/webm; codecs=vp8,vorbis" src="/videos/work.webm")
            source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/videos/work.mp4")

    div.wrapper
        div.landing-banner 
            h3 We Respect You and Your Projects
            h4 Respect.ly는 고대생들이 어떤 변화를 일으키고 싶을 때, 프로젝트 지지자들을 손쉽게 모을 수 있는 Crowd Supporting Platform입니다.

    div.