extends ./nav.jade

block content

  div.video
    div.mask
    video(preload loop autoplay poster="/images/work.jpg")
      // source(type="video/webm; codecs=vp8,vorbis" src="/videos/work.webm")
      source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/videos/work.mp4")

  div.wrapper
    div.landing-banner
      h3 We Respect You and Your Projects
      h4 Respect.ly는 고대생들이 어떤 변화를 일으키고 싶을 때, 프로젝트 지지자들을 손쉽게 모을 수 있는 Crowd Supporting Platform입니다.

  #join.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Modal title
        .modal-body
          label 아이디 
          input#join-id.form-control(type="text", name="join-id") 
          br
          label 비밀번호  
          input#join-password.form-control(type="password", name="join-password")  
          br
          label 포탈 아이디 
          input#join-email.form-control(type="email", name="join-email")
          label 학번 
          input#join-student-number.form-control(type="text", name="join-student-number") 
          label 이름  
          input#join-name.form-control(type="text", name="join-name") 


        .modal-footer
          #modal-message-container
          button.btn.btn-default(type="button", data-dismiss="modal") 닫기 
          button#joinCall.btn.btn-primary(type="button", data-dismiss="modal") 가입 

  #login.modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Modal title
        .modal-body
          label 아이디 
          input#login-id.form-control(type="text", name="login-id") 
          br
          label 비밀번호  
          input#login-password.form-control(type="password", name="login-password")  
          br

        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 닫기 
          button#loginCall.btn.btn-primary(type="button" data-dismiss="modal") 로그인
  
  section.brief-container
    a.left(href="#carousel-example-generic" role="button" data-slide="prev") 
      img(src="/images/arrow_left.svg")
      span.sr-only Previous
    a.right(href="#carousel-example-generic" role="button" data-slide="next")
      img(src="/images/arrow_right.svg")
      span.sr-only Next
    .brief-project
      .carousel.slide#carousel-example-generic(data-ride="carousel")
        .carousel-inner(role="listbox")
          .item.active.brief-project-inside
            .brief-project-picture
            .brief-project-content
              .brief-project-collaborate
              .brief-project-support
              .brief-project-progressmask
                .brief-project-progressbar

          .item
            .brief-project-picture
            .brief-project-content
              .brief-project-collaborate
              .brief-project-support
              .brief-project-progressmask
                .brief-project-progressbar

          .item
            .brief-project-picture
            .brief-project-content
              .brief-project-collaborate
              .brief-project-support
              .brief-project-progressmask
                .brief-project-progressbar 

          .item
            .brief-project-picture
            .brief-project-content
              .brief-project-collaborate
              .brief-project-support
              .brief-project-progressmask
                .brief-project-progressbar



      //- .brief-project-inside
      //-   h6 우리들의 프로젝트
      //-   .brief-project-picture
      //-   .brief-project-content
      //-     .brief-project-collaborate
      //-     .brief-project-support
      //-     .brief-project-progressmask
      //-       .brief-project-progressbar



  section.project
    .project-wrap
      .project-content
        .project-picture
        p 대학을 졸업하고 5년 정도 지나 대학생활을 다시 돌이켜본다면 우리들은 대학생활에 대해 아쉬움이 많이 남아있을까? 그때가  되더라도 다시금 언젠가 먼 미래에도  대학생활의 낭만을 또 한번 느껴볼 수 있을까?
          | 5년 후 이렇게까지 늙진 않을 거다.
          | 대학생활의 꽃도 이제 다 시들어 떨어질 때쯤, 마지막 학기를 남겨두고 마지막 여름방학을 보내고 있는 4학년들이라면 이런 생각을 한번쯤은 해볼 것이다. 생각해보면 내가 가장 낭만을 느꼈을 때는 1, 2학년 때 대학에 와 새로운 사람들을 만나 팀을 이뤄 같이 하고 싶은 것을 위해 앞뒤 생각 안하고 무작정 달렸을 때인거 같다. 이렇게 다양한 배경을 가진 인재들의 풀 속에서 언제 다시 한번 맘껏 역량을 펼칠 수 있을까? 4학년이 되어버린 지금 그 때 그 낭만을 다시 느끼긴 힘들 것 같다는 생각이 가끔 든다.
          | 그래서 그 때의 그 시간들을 누리고 있는 또는 앞으로 누리게 될 것인 그들을 위해, 이 인재들의 풀을 최대한 활용할 수 있도록 우리가 제대로된 판을 깔아주고 싶다. 우리의 능력을 통해 그들이 하고 싶은 것을 고대생들과 함께 할 수 있도록 도와줄 수 있는 서비스를 만들어준다면, 졸업을 하고 한참이 지나서라도 그 때의 그 기분을 조금이라도 같이 느낄 수 있을 것 같다. 청춘이 즐거운 이유는 같이 청춘을 나눌 사람이 있어서가 아닐까. 함께 하고 있다는 그 느낌만으로 즐거운, 사람 냄새 풀풀 나는 웹서비스를 우리들의 유작으로 남기고 싶다. 그래서 말그대로 Thanks The Team이란 명칭을 붙였다.
          | 개요
          | Thanks The Team(이하 TTT) 은 고대생들이 하고 싶은 활동을 프로젝트로 올려 프로젝트에 찬성하는 지지자들을 모으고 또 같이 실제로 도와줄 참여자들을 받아 프로젝트를 진행할 수 있는 online to offline의 크라우드 서포팅 플랫폼이다.
          | 예를 들어보자. 만약 인터넷 익스플로러 때문에 고생하는 학생 개발자가 있다 하면 그는 그냥 재미로 고대에 있는 모든 컴퓨터에 크롬을 깔면 어떨까라는 생각을 할지도 모른다. 그렇지만 많은 고대생들의 지지를 얻어야 할 수 있는 일이기 때문에 혼자 쉽사리 실천하긴 어려울 것이다. 그렇다고 고파스에 올린다면? 바로 묻혀버릴 것이다. 고파스에 들어가는 사람들 대부분은 정보를 찾으러 들어간다. 정보 공유가 주목적이기 때문에 프로젝트 실천에 대해 여론을 형성하고 학생들의 참여를 유도하는 플랫폼으로서 고파스는 분명한 한계를 가진다. 고대생들이 본인이 하고 싶은 프로젝트에 대해 고대생들의 반응을 손쉽게 살필 수 있고 참여자들도 구할 수 있도록 하는 서비스를 제공하는 것이 Thanks The Team의 주목적이다. 고려대학교에서 나올 수 있는 다양한 프로젝트들을 모두 다 품을 수 있도록 하는 것이우리가 그리고 있는 모습이다.
          | 위와 같은 상황에서 그 개발자 학생은 우리 플랫폼에서 하나의 프로젝트를 만들어 왜 크롬을 깔아야 하는지 고대생들을 설득할 수 있는 내용을 적을 수 있고, “고대생 200명 이상이 이 프로젝트를 지지해주면 문과캠퍼스 컴퓨터들에 다 크롬을 설치하겠습니다, 고대생 500명 이상이 이 프로젝트를 지지해준다면 문과캠을 넘어서 학교의 모든 컴퓨터에 크롬을 설치하겠습니다.” 와 같은 단계적인 조건들을 걸 수 있으며 이 프로젝트를 SNS에 홍보해 프로젝트를 실천하는 것을 도와줄 참여자들도 구할 수 있다. 지지하는 고대생들이 몇명이나 되는지를 통해 프로젝트에 대한 여론을 형성하고 참여자들을 받아 프로젝트에 추진력도 얻을 수 있는 것이다.
          | 개발자로서 저런 예를 들었지만 일부터 백까지 다양한 프로젝트들을 걸 수 있다. 단과대 학생회장 선거운동에 내걸 공약을 프로젝트로 만들어 참여자들과 지지자들을 모은다거나 포토샾과 일러스트를 40명 정도 학생들을 모아 유료 수업을 진행하겠다는 프로젝트도 다 가능하다. (혹은 동아리를 홍보하기 위한 음식점을 빌려 식사자리를 만들겠다, 축제 때 이런이런 수제 맥주를 팔아보겠다, 이벤트를 해보겠다, 학교 시설 문제점에 대해 일인시위를 하겠다 등등 더 작은 프로젝트로 공통된 관심사가 있는 학생들끼리의 식사 모임을 열겠다, 자전거 공유 플랫폼을 만들고 싶은데 지지자들과 참여자들이 얼마나 있는지 알고싶다 등) 이는 카테고리로 먼저 분류하기보다 우리가 베타버젼을 런칭하게 되면 하고 싶은 프로젝트들에 대해서 이메일로 다양한 의견들을 받아 본 후 판단할 문제다.
          | 확장성과 네트워크 효과
          | 이번 졸업 프로젝트는 린스타트업 형식으로 진행한다. 즉, 초기단계부터 철저한 시장조사, 정교한 전략, 기획을 하지 않고 우리는 MVP(최소존속제품)을 빨리 출시해서 고객과 시장에 대한 지속적인 배움을 통해 빠르게 피봇팅, 스케일 해나갈 것이다. 사이트의 모습은 킥스타터 모습과 비슷하게 개발할 것이지만 킥스타터처럼 크라우드 펀딩에 초점을 맞춘 모습이 아니라 우리들 서비스는 그것보다 훨씬 더 General하고 기본적인 핵심 기능만 있는 사이트가 될 것이다. 거창한 프로젝트들 말고도 작은 소모임을 만들 때도 쉽게 이용할 수 있도록 해야한다.
          | 어떤 프로젝트들이 올라오든 그것의 컨텐츠보다 이 플랫폼안에서 고대생들이 어떻게 관계를 맺고 쌓는지가 더 중요하다. 즉, 네트워크 가치를 극대화할 수 있게 유도해야 한다. 우리 서비스가 시작되었을 때 최대한 많은 학생들이 쓰게 유도하는 것보다 사용 학생들이 온라인 오프라인에서 활발하게 교류할 수 있도록 연결하는 것에 더 초점을 맞춰야 한다. 네트워킹 가치를 중요시하는 이유는 확장성 때문이다. 컨텐츠나 포지션 pivoting, 또는 우리가 생각지 못했던 다른 모습으로 확장해나가더라도 사용자들이 이미 구축한 네트워크가 있다면 변화한 서비스에서 얼마든지 활용할 수 있다.
          | 그렇기 때문에 우리 플랫폼에서는 페이스북으로 1차 가입을 하고 학교 이메일로 인증을 하는 로그인 시스템을 갖는다. 또한 플랫폼 안에서 가입한


  section.fourthmain
