doctype html
html
  head
  block script
    title= title
    link(href='http://fonts.googleapis.com/css?family=Advent+Pro:400,600,500,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/earlyaccess/hanna.css' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/tabs.css')
  
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="/javascripts/play.js")
    script(src="/javascripts/chart.js")
    script(src="/javascripts/minteract.js")
    script(src="/javascripts/enter.js")
    script(src="/javascripts/comments.js")

  body
block navigation
block content
