extends ./layout.jade

block navigation
  - var email = session.email;
  header
    nav.mainnav
      h1.site-logo.full
        a.logo(href="/")
          img(alt="Respect.ly" id="mlogo" src="/images/wl.png")

      ul.left
        li
          a(href='#') ABOUT
        li
          a(href="#") START
      audio#audio(loop autoplay src="/music/11.mp3")


      ul.right
        if id
          li
            a(href="/signout") LOGOUT
        else
          li
            a(href="#" data-toggle="modal" data-target="#join") JOIN
          li
            a(href="#" data-toggle="modal" data-target="#login") LOGIN              
        li#music-icon.full
          a(href="/").music
            span.glyphicon.glyphicon-pause.playmode(aria-hidden="true")
        li#menu-icon.full.menu-toggle
          a(href="#") MENU
            .down-arrow      
    .dropmenu
      ul.drop-right
        h1.site-logo
          a.logo(href="/")
            img(alt="Respect.ly" id="mlogo" src="/images/wl.png")        

        li#music-icon
          a(href="/").music
            span.glyphicon.glyphicon-pause.playmode(aria-hidden="true")
        li#menu-icon.menu-toggle
          a(href="#") MENU
            .down-arrow            
      ul.drop-down
        li
          a(href='#') ABOUT
        li
          a(href="#") START
        if email
          li
            a(href="/signout") LOGOUT
        else
          li
            a(href="#" data-toggle="modal" data-target="#join") JOIN
          li
            a(href="#" data-toggle="modal" data-target="#login") LOGIN              

  .subheader
    nav.subnav
      h1.site-logo
        a.logo(href="/")
          img(alt="Respect.ly" id="slogo" src="/images/vl.png")
      ul.left
        li
          a(href='#') ABOUT
        li
          a(href="#") START
      ul.right
        if email
          li
            a(href="/signout") LOGOUT
        else
          li
            a(href="#" data-toggle="modal" data-target="#join") JOIN
          li
            a(href="#" data-toggle="modal" data-target="#login") LOGIN
        li
          a(href="/").music
            span.glyphicon.glyphicon-pause.playmode(aria-hidden="true")

