/*Normalize*/
*{
	border: 0;
	margin: 0;
	padding: 0;	
}
body {
  font: 16px "Advent Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: black;
  height: 100%;
}
ol, ul{
	margin: 0;
}
li{
	list-style: none;
}
a{
	border: 0;
	outline: 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
a:hover, a:visited, a:link, a:active{
	outline: 0;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out 0s;
}

img{
	border: 0;
}

/*Header and Nav*/
header{
	width: 100%;
	height: 80px;
	position: absolute;
	z-index: 998;
}
nav.mainnav{
	background-color: transparent;
	width: 90%;
	margin: 0 auto;
  	z-index: 998;
  	height: 80px;
}
nav.mainnav:after{
	content: " ";
	visibility: hidden;
	clear: both;
}
.mainnav a{
	/*layout*/
	display: inline-block;
	padding: 28px 20px;
	/*color*/
	color: white;
}
.mainnav li a:hover{
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6) !important;
	color: #333;
}
.site-logo{
	float: left;
	padding: 11px;
	margin: 0;
	width: 250px;
}
a.logo{
	display: inline-block;
	padding: 0px;
}
a.logo > img{
	width: 230px;
}
@media (min-width: 320px){
ul.left{
	float:left;
	padding-left: 0px;
	margin-left: 40px;
	height: 80px;
}
ul.right{
	float: right;
	height: 80px;
}
ul.left > li {
	display: inline-block;
}
ul.right > li {
	display: inline-block;
}
ul.left > li > a{
}
ul.right > li > a{
}
}
/*Sub Nav*/
.subheader{
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 997;
  display: none;
  background-image: linear-gradient(to left, #07b15f 0, #00ac92 50%, #00849e 100%);
  background-color:#03ae6d;
  opacity: 1;  
}
nav.subnav{
  background-color: transparent;
  width: 90%;
  margin: 0 auto;
    z-index: 997;
height : 60px;
}
.subnav:after{
  content: " ";
  visibility: hidden;
  clear: both;
}
.subnav a{
  /*layout*/
  display: inline-block;
  padding: 18px 20px;
  /*color*/
  color: white;
}
.subnav h1.site-logo{
  float: left;
  padding: 0px;
  margin: 0;
  width: 250px;
}
.subnav a.logo{
  display: inline-block;
  padding: 0px;
}
.subnav a.logo > img{
  width: 230px;
}
@media (min-width: 800px){

.subnav ul.left{
  float:left;
  padding-left: 0px;
  margin-left: 40px;
  height: 60px;
}
.subnav ul.right{
  float: right;
  height: 60px;
}
.subnav ul.left > li {
  display: inline-block;
}
.subnav ul.right > li {
  display: inline-block;
}
.subnav ul.left > li > a{
}
.subnav ul.right > li > a{
}
.subnav li a:hover{
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6) !important;
  color: #333;
}
}
@media (max-width: 800px){
  ul.left{
  display: none;
}
ul.right{
  display: none;
}

}

/*Video*/
.video{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: -1;
	overflow: hidden;
}
.mask{
min-height: 100%;
min-width: 100%;
background: none repeat scroll 0% 0% #333;
z-index: 2;
opacity: 0.3;
}
video{
position: absolute;
top: 0px;
left: 0px;
left: 0px;
right: 0px;
bottom: 0px;
z-index: -1;
min-width: 100%;
min-height: 100%;
}

/*Body Contents*/
.wrapper{
	width: 50%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.landing-banner{
	margin: 0 auto;	
	top: 200px;
	position: absolute;
	padding: 5px;
	text-align: left;
	color: white;
	margin-top: 10px;
	line-height: 1.1em;
}
.landing-banner h3{
	font-size: 600%;
	font-weight: bold;
	font-family: "Marvel";
	font-weight: 700;
	font-style: italic;
}
.landing-banner h4{
	font-size: 200%;
}

/*Sub Mains*/

/*Brief Project Explain*/

.brief-container{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 50%;
	background-color: #E8F6FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d9d9de;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d9d9de;
  }
.brief-project{
  position: relative;
  top: -60px;
  width: 60%;
  height: 350px;
  margin: 0 auto;
  background-color: #F7FAFA;
  padding: 20px;
}
.brief-project-inside{
  width: 100%;
  height: 100%;
  background-color: #F7FAFA;
}
.brief-project-picture{
  z-index: 10;
  width: 320px;
  height: 240px;
  background-size: 320px 240px;
  background-image: url('/images/kustudents.jpg');
}
.brief-project-content{

}
.brief-project-collaborate{

}
.brief-project-support{

}
.brief-project-progressmask{

}

.brief-project-progressbar{

}

/* Full Project Explain */
.project{
	position: absolute;
	top: 150%;
	width: 100%;
	height: 200%;
	background-color: #B1C5FF;
}
.project-wrap {
  position: relative;
  width: 80%;
  margin: auto;
  height: 100%;
  background-color: white;
}
.project-content{
  margin: 5% 20%;
}
.project-picture{
  background-size: 320px 240px;
  background-image: url('/images/kustudents.jpg');
}
.project-content p{

}
.fourthmain{
	position: absolute;
	top: 350%;
	width: 100%;
	height: 40%;
  background-color: black;
}
/* Footer */

#modal-message-container {
  text-align: left;
}

.modal-message {
  margin: 0;
}
