.tabs{
  position: absolute;
  top: 140%;
  width: 100%;
  height: 68px;
  background-color: white;
  border-bottom: 1px solid #d9d9de;
}
.tabs ul{
  float:left;
  padding-left: 0px;
  height: 80px;
}
.tabs li{
  display: inline-block;
  margin-top: 22px;
  height: 80px
}
.tabs a{
  height: 80px;
  top: 40px;
  padding: 25px 20px;
}
.tabs a:hover {
  background-color: rgb(51, 122, 183);
  color: #FFFFFF;
}

#campaign a{
  height: 80px;
  color: red;
  margin-left: 10%
}
.commentdiv{
  position: absolute;
  top: 147%;
  width: 100%;
  height: 200%;
  background-color: white;
  display: none;
}
.supportdiv{
  position: absolute;
  top: 147%;
  width: 100%;
  height: 200%;
  background-color: #FFB549;
  display: none;
}
.participatediv{
  position: absolute;
  top: 147%;
  width: 100%;
  height: 200%;
  /*background-color: #EDF178;*/
  background-color: #01E3E5;
  display: none;
}

/* comment 창 */
.glyphicon-chevron-up{
  font-size: 26px;
}
.glyphicon-chevron-down{
  font-size: 26px;
}
.commentbody{
      background-color: rgba(87, 255, 134, 0);
      width: 50%;
      height: 100%;
      margin: 0 auto;
}
.userpicture{
    width: 30px;
    height: 30px;
    float: left;   
    text-align: center;
}

.userpicture > img{
  margin-top: 20px;
  width: 30px;
  height: 30px;
}
.commentbox{
      margin-left: 30px;
      width: 500px;
      height: 95px;
      display: inline-block;
      position: relative;
}
.commentitem{
  width: 100%;
  height: 95px;
  margin-bottom: 30px;
}
.commentedit{
  right: 80px;
  top: 20px;
  position: absolute;
  display: inline-block;
}
.commentedit > a{
color: blue;
font-size: 1em;
margin-right: 10%;
text-transform: none;
}
h3.name{
  width: 60%;
  display: inline-block;
}
.commentdelete{
  top: 20px;
  right: 0px;
  display: inline-block;
  position: absolute;
}
.commentdelete > a{
color: red;
font-size: 1em;
text-transform: none;
}

.commenttextinput{
  width: 50%;
  margin-left: 25%;
  height: 90px;
  border: 1px solid black;
}




/* 좋아요 싫어요 댓글 기능*/
/*.upVote{
      width: 30px;
      height: 30px;
      text-align: center;
}
.voteNum{
      width: 30px;
      height: 35px;
      font-size: 24px;
      text-align: center;
}
.downVote{
      width: 30px;
      height: 30px;
      text-align: center;
}*/

