.tabs{
  position: absolute;
  top: 140%;
  width: 100%;
  height: 10%;
  background-color: #F7FAFA;
}
.tabs ul{
  float:left;
  padding-left: 0px;
  height: 80px;
}
.tabs li{
  display: inline;
  height: 80px
}
.tabs a{
  height: 80px
  top:40px;
  padding: 28px 20px;
}

#campaign a{
  height: 80px;
  color: red;
  margin-left: 10%
}
.commentdiv{
  position: absolute;
  top: 150%;
  width: 100%;
  height: 200%;
  background-color: white;
  display: none;
}
.supportdiv{
  position: absolute;
  top: 150%;
  width: 100%;
  height: 200%;
  background-color: #FFB549;
  display: none;
}
.participatediv{
  position: absolute;
  top: 150%;
  width: 100%;
  height: 200%;
  background-color: #EDF178;
  display: none;
}

/* comment 창 */
.glyphicon-chevron-up{
  font-size: 26px;
}
.glyphicon-chevron-down{
  font-size: 26px;
}
.commentBody{
      background-color: rgba(87, 255, 134, 0);
      width: 600px;
      height: 95px;
}
.entryVote{
    width: 30px;
    height: 95px;
    float: left;   
    text-align: center;
}
.upVote{
      width: 30px;
      height: 30px;
      text-align: center;
}
.voteNum{
      width: 30px;
      height: 35px;
      font-size: 24px;
      text-align: center;
}
.downVote{
      width: 30px;
      height: 30px;
      text-align: center;
}

.commentBox{
      margin-left: 30px;
      width: 500px;
      float: left;
      height: 95px;
      display: inline-block;
}
